{
  "$schema": "https://json.schemastore.org/prettierrc",
  "useTabs": false,
  "trailingComma": "none",
  "endOfLine": "lf",
  "printWidth": 60,
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 59
      }
    }
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "^@tests/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
